

  <div class="container">
      <h2>Temperature Unit Convertor</h2>
            <form >
                <p>Celcius<br />
                <input onclick="checkId(id)"  id="celcius"  placeholder="Enter a number">
                </p>

                <p>Fahrenheit<br />
                <input   onclick="checkId(id)"  id="fahrenheit" placeholder="Enter a number">
                </p>
                
            <button type="button" class="btn btn-primary" onclick="converts()">convert</button>      
    </form>
   </div>