

  <div class="container">
      <h2>Temperature Unit Convertor</h2>
                <p>Celcius<br />
                <input class ="form-control" [(ngModel)]="celcius" id="celcius" (click)="checkId('c')"  placeholder="Enter a number">
                </p>

                <p>Fahrenheit<br />
                <input class ="form-control" [(ngModel)]="fahrenheit" (click)="checkId('f')"  id="fahrenheit" placeholder="Enter a number">
                </p>

            <button type="submit" class="btn btn-primary" (click)="converts()">convert</button> 
    
            <br />
            <p>Total conversion: <span id="counter">{{counter}}</span></p>
   </div>
   