p{
    text-align: center;
}
h1{
    text-align:center;
}
h4{
    text-align:center;
}
.div2 
{
    width: 60%;
    margin:auto;
    height: 300px;    
    padding: 50px;
    border: light;
    background-color:#f4f4f4;
    border-radius:2%;
}